<div class="container hsfour" style="">
	<div class="row">
		<div  class="feature-item">
			<div class="feature-image animated fadeInLeft leftproductimage" style="background: url({{section.settings.spgimage | img_url: 'master'}}) no-repeat;background-size: cover;min-height: 700px;">
				<p>&nbsp;</p>
			</div>

			<div class="feature-text animated fadeInRight rightproductbullets" style="text-align: left;margin: 50px 70px 50px 30px;">
				<h2 class="page-title__heading"> {{section.settings.sectiontitle}} </h2>
				<ul>
				{% for block in section.blocks %}
					<li class="pbullet" style="padding-top:25px;display: inline-flex;">
						<!--<img src="{{block.settings.bicon | img_url: 'master'}}" class="pttwobicon"/>-->
						<h3 class="pbullettitle" style="padding-left: 10px;    color: #000;">{{block.settings.bullettitle}}</h3>
					</li>
				{% endfor %}
				</ul>
				<a href="{{section.settings.btnlink}}" class="button inline" style="margin-top: 20px;">{{section.settings.btntext}}</a>
			</div>
		</div>
	</div>
</div>




{% schema %}
	{
		"name": "How-To-Apply Section",
		"max_blocks": 5,
		"settings": [
			{
				"id": "sectiontitle",
				"type": "text",
				"label": "Section Title",
				"default": "How to Apply LiftRose Booster Serum"
			},
			{
				"id": "spgimage",
				"type": "image_picker",
				"label": "Product Graphic"
			},
			{
				"id" : "btnlink",
				"type": "url",
				"label": "Button Link"
			},
			{
				"id": "btntext",
				"type": "text",
				"label": "Button Text",
				"default": "Buy Now"
			}
		],
		"blocks": [
			{
				"name": "Product Bullet",
				"type": "select",
				"settings": [
					{
						"id": "bicon",
						"type": "image_picker",
						"label": "Bullet Icon"
					},
					{
						"id": "bullettitle",
						"type": "text",
						"label": "Bullet Title",
						"default": "Lorem ipsum"
					}
				]
			}
		]
	}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}